bin/
output/
obj/
.idea/
Debug/
Release/
packages/
gui3/node_modules/
gui3/testserver/node_modules
cmake-build-debug/
cmake-build-release/
gui3/.eslintcache
gui3/.idea/workspace.xml
gui3/react-app-env.d.ts
